<!DOCTYPE html>
<html>
<head>
  <title>lol</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap" rel="stylesheet">

</head>
<body>
<div class="wrapper">
  <p>{{ joke }}</p>
  <a class="btn-11" href="/">Back</a>
  <a class="btn-11" href="" onClick="window.location.reload();">Refresh</a>
</div>

<script src="static/script.js"></script>
</body>
</html>

